@theme {
  --color-surface: #060b15;

  --color-emphasis-300: #9dabbd;

  --color-gray-900: #121925;

  --color-body-gray-900: #9dabbd;

  --color-title-gray: #ffffff;

  --color-gray-500: #616F81;
}

/* sample light theme */
.light {
  --color-surface: #d1d5dd;

  --color-emphasis-300: #9dabbd;

  --color-bg-gray-900: #121925;
}
