@import "tailwindcss";

@import "./../shared/styles/colors.css" layer(theme);

@import "./../shared/styles/fonts.css" layer(theme);

* {
  box-sizing: border-box;
  font-family: var(--font-chakra-petch);
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: auto;
  min-height: 100vh;
}
