@import "tailwindcss";

@import "./../shared/styles/colors.css" layer(theme);

@import "./../shared/styles/sizes.css" layer(theme);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
